# Specific large pickle files
data/processed/ENSO_EVENT_FLAVOURS_FUTURE_PROJ_2015-2050.pkl
data/processed/ENSO_EVENT_FLAVOURS_RECENT_PAST_1976-2023.pkl

# NetCDF groups
data/z20_depths/*.nc
data/zon_wnds_850hpa/*.nc
data/thetao_con/*/*.nc
data/anomalies/*/*.nc
data/processed/ENSO_SSTA_COMPOSITES/*.nc

# NOTE: All of these are large files to host on GitHub, but can be made available on request.
